body {
    font-family: Arial, sans-serif;
    background-color: #bbb4b4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.checkout-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-total {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.payment-method {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.payment-method input {
    margin-right: 10px;
}

.place-order {
    background: gray;
    color: white;
    padding: 10px;
    border: none;
    cursor: not-allowed;
    margin-top: 15px;
}

.place-order.enabled {
    background: green;
    cursor: pointer;
}

.place-order.enabled:hover {
    background: darkgreen;
}

.cart-item {
    padding-bottom: 6px;
    display: flex;
    align-items: center;  
    gap: 10px;
}

.cart-item img {
    flex-shrink: 0; 
}

.cart-item span {
    flex: 1; 
    text-align: left; 
}
